project
config
credentials
.terraform
.vagrant
.idea
terraform.tfstate
terraform.tfstate.backup
*.tfstate.lock.info
kubeconfig_eks-*
/config_eks-*
terraform-aws-eks/workspace/base/eks-*
.terraform.tfstate.lock.info
aws-iam-authenticator
s3_bucket_id
*_bak
/scripts/
/terraform-aws-eks/workspace/base/kubeconfig_eks-data
/terraform-aws-eks/workspace/base/eks-data.pub
/terraform-aws-eks/workspace/base/eks-data
/scripts/keybase_amd64.deb
info
devops-utils
devops-utils.pub
_data
backup.zip
tz-eks-backup*
/resources
tz-local/resource/vault/vault-injection/cert/vault*
grafana-backup-tool
unseal2.txt
myoutput.txt
cert
*.zip
/terraform-aws-eks/workspace/base/lb2.tf
